<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::title},~{::main},~{::link},~{::script})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>댓글 관리 페이지</title>
    <link>
    <script>
        const pageName = "articleComments";
        let currentPage = 0;
        let sortCondition = "id";
        let sortDirection = "DESC";

        function findAllArticleComments() {
            callFindAllArticleCommentsApi().then(response => {
                drawArticleCommentListDom(response.data.articleCommentFindDtos);
                pagination(response.data.paginationResponse);
            });
        }

        function drawArticleCommentListDom(articleComments) {
            let articleCommentListArea = document.getElementById('articleComments-tbody');
            articleCommentListArea.innerText = "";

            if (articleComments.length == 0) {
                const newTr = document.createElement('tr');
                let html = `<td colspan="4">댓글이 없습니다.</td>`;
                newTr.innerHTML = html;
                articleCommentListArea.appendChild(newTr);
            } else {
                articleComments.forEach(articleComment => {
                    const newTr = document.createElement('tr');
                    let html = `<td>${articleComment.articleCommentId}</td>
                                <td><a class="link" onclick="findOneArticleComment(${articleComment.articleCommentId})">${articleComment.articleCommentContent}</a></td>
                                <td>${articleComment.nickname}</td>
                                <td>${articleComment.createdAt}</td>`;
                    newTr.innerHTML = html;
                    articleCommentListArea.appendChild(newTr);
                });
            }
        }

        function findOneArticleComment(articleCommentId) {
            callFindOneArticleCommentApi(articleCommentId).then(response => {
                articleCommentOneModalOn(response.data);
            });
        }
        function articleCommentOneModalOn(articleCommentOne) {
            const modalArea = document.getElementById("articleCommentOneModal");
            modalArea.innerText='';
            let html = `<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>${articleCommentOne.createdAt}</h4>
                                    <h4>${articleCommentOne.nickname}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>${articleCommentOne.articleCommentContent}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="modalCloseBtn">Close</button>
                                    <button type="button" class="btn btn-danger" onclick="removeArticleCommentOne(${articleCommentOne.articleCommentId})">Delete</button>
                                </div>
                            </div>
                        </div>`;
            modalArea.innerHTML = html;
            $('#articleCommentOneModal').show();
            $('#modalCloseBtn').on('click',function() {
                $('#articleCommentOneModal').hide();
            })
        }

        function removeArticleCommentOne(articleCommentId) {
            callRemoveArticleCommentApi(articleCommentId).then(response => {
                if(response.status === 200) {
                    $('#articleCommentOneModal').hide();
                    findAllArticleComments();
                }
            });
        }
    </script>
</head>

<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>SERVICE MANAGEMENT > <a href="">댓글 관리</a></div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">댓글 관리</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">PDF</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">EXCEL</button>
            </div>

            <select class="form-select form-select-sm" id="articleComments-size">
                <option value="5">5줄</option>
                <option value="10">10줄</option>
                <option value="20">20줄</option>
                <option value="30" selected>30줄</option>
                <option value="50">50줄</option>
            </select>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th><button class="btn" onclick="sort('id')">ID</button></th>
                    <th class="col-8"><button class="btn" onclick="sort('content')">댓글내용</button></th>
                    <th class="col-2"><button class="btn" onclick="sort('user.nickname')">작성자</button></th>
                    <th><button class="btn" onclick="sort('createdAt')">작성일</button></th>
                </tr>
            </thead>
            <tbody id="articleComments-tbody"></tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            Page <span id="articleComments-current-page"></span> of <span id="articleComments-total-page"></span> [ Total <span id="articleComments-total-count"></span> ]
        </div>
        <nav id="articleComments-pagination" aria-label="Page navigation"></nav>
    </div>

    <div class="modal fade" id="articleCommentOneModal" style="background: #333333;opacity: 0.9"></div>
</main>
</body>
</html>