<!DOCTYPE html>
<html th:replace="~{layout/layout-main :: layout(~{::title},~{::main},~{::link},~{::script})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>DashBoard 페이지</title>
    <link>
    <script>
        const pageName = "dashboard";
    </script>
</head>
<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" id="articles-main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>ADMIN MANAGEMENT > <a href="">Dashboard</a></div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="row">
            <div class="col-3">
                <div class="card text-white bg-success mb-3 text-center" style="min-width: 15rem;">
                    <div class="card-header">전체 게시글 수</div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/management/articles" style="text-decoration: none; color: white;" th:text="${articlesTotalCount}">0</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-danger mb-3 text-center" style="min-width: 15rem;">
                    <div class="card-header">전체 댓글 수</div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/management/article-comments" style="text-decoration: none; color: white;" th:text="${articleCommentTotalCount}">0</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-warning mb-3 text-center" style="min-width: 15rem;">
                    <div class="card-header">전체 해시태그 수</div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/management/hashtags" style="text-decoration: none; color: white;" th:text="${hashtagTotalCount}">0</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-info mb-3 text-center" style="min-width: 15rem;">
                    <div class="card-header">전체 회원 수</div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/management/service-users" style="text-decoration: none; color: white;" th:text="${userTotalCount}">0</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="row">
            <div class="col-12">
                <div>
                    <h3>Todo List</h3>
                </div>

                <div class="table-responsive" style="min-width: 65rem;">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="col-2">
                                    ID
                                </th>
                                <th class="col-6">
                                    Todo List
                                </th>
                                <th class="col-2">
                                    Status
                                </th>
                                <th class="col-2">
                                    Menu
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Audit 기능 추가하기</td>
                                <td>todo</td>
                                <td><button>완료</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>